.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 250px;
  margin: auto;
  .title {
    font-size: 2em;
    font-weight: 600;
  }
  .text-input {
    padding: 1px 2px;
    border: 1px solid black;
    width: calc(100% - 6px);
  }
  .port {
    border: 1px solid yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    .text {
      font-weight: 600;
      margin: 0;
      color: yellow;
    }
  }
  .row-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
  }
  .buttons-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    .button {
      cursor: pointer;
    }
  }
}

.hintbox {
  position: fixed;
  background-color: rgb(99, 105, 105);
  border: 2px solid black;
  max-width: 145px;
  pointer-events: none;
  &.hide {
    display: none;
  }
  .text {
    color: black;
    margin: 0;
    text-align: center;
  }
}

.error {
  &.hide {
    display: none;
  }
  text-align: center;
  color: red;
  font-weight: 500;
  margin: 0;
  font-size: 0.75em;
}
