.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  .input {
    height: 30px;
  }
  .btn {
    max-width: 200px;
    height: 40px;
    width: 100%;
    font-size: large;
    background-color: rgb(121, 7, 228);
    border-color: transparent;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
      background-color: rgb(145, 39, 243);
    }
  }
}
