@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

#app {
  margin: 15px;
  text-align: center;
}

.main {
  min-height: calc(100vh - 30px);
  height: 1px;
}

.spinner {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 3em;
  color: rgb(178, 206, 24);
  background-color: rgba(100, 100, 100, 0.5);
}

.spinner.active {
  display: flex;
}

.spinner::before {
  content: 'Loading';
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

button {
  border: 2px solid gray;
  border-radius: 5px;
  background-color: rgb(206, 148, 24);
  transition: 1s background-color;
}
button:hover {
  background-color: rgb(158, 206, 24);
}
