.game {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .hints {
      display: flex;
      gap: 10px;
      .btn {
        flex-shrink: 1;
      }
    }
  }
  .field-wrapper {
    margin-right: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .row-numbers {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 10px;
    }
    .field {
      min-width: 697px;
      min-height: 460px;
      background-size: contain;
      background-color: rgb(70, 64, 64);
    }
  }
}

.translation {
  font-weight: 600;
  margin: 0;
  &::before {
    content: 'a';
    visibility: hidden;
  }
}

.hide {
  visibility: hidden;
}

.complete-hide {
  display: none;
}

.bottom-btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.bottom-field {
  display: flex;
  justify-content: space-around;
  min-height: 46px;
  min-width: 697px;
  background-color: rgb(70, 64, 64);
  .element {
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;
    background-color: #c61bcc;
    display: flex;
    flex:1 1 auto;
    justify-content: center;
    align-items: center;
    transition: 2s color ease-in-out;
    font-weight: 700;
    &.error {
      color: red;
    }
    &.right {
      color: rgb(8, 248, 8);
    }
    &.toleft {
      left: -14px;
    }
    &.toright {
      left: 14px;
    }
    &.center {
      mask-image: url('../../assets/left-mask.svg'), url('../../assets/right-mask.svg'), linear-gradient(#fff 0 0);
      mask-position: left, right;
      mask-repeat: no-repeat;
      mask-composite: exclude, exclude, add;
      margin-right: -14px;
    }
    &.first {
      mask-image: url('../../assets/right-mask.svg'), linear-gradient(#fff 0 0);
      mask-position: right;
      mask-repeat: no-repeat;
      mask-composite: exclude, add;
      margin-right: -14px;
    }
    &.last {
      mask-image: url('../../assets/left-mask.svg'), linear-gradient(#fff 0 0);
      mask-position: left;
      mask-repeat: no-repeat;
      mask-composite: exclude, add;
      margin-right: 1px;
    }
  }
}

.btn {
  max-width: 200px;
  height: 40px;
  width: 100%;
  font-size: large;
  background-color: rgb(121, 7, 228);
  border-color: transparent;
  cursor: pointer;
  transition: background-color 0.5s;
  flex-grow: 0;
  flex-shrink: 0;
  &.toggle {
    background-color: rgb(8, 122, 8);
    &:hover {
      background-color: rgb(15, 207, 15);
    }
  }
  &:hover {
    background-color: rgb(145, 39, 243);
  }
}

.sound-hint {
  width: fit-content;
  visibility: hidden;
  &::before {
    display: block;
    content: ' ';
    background-image: url('../../assets/speaker.svg');
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
  }
  &.active {
    visibility: visible;
  }
  &.on {
    background-color: rgb(15, 207, 15);
    &:hover {
      background-color: rgb(15, 207, 15);
    }
  }
}

.changeLevel {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
