.box {
  max-width: 90%;
  min-width: 30%;
  background-color: bisque;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-right: auto;
  margin-bottom: 10px;
  &.self {
    margin-left: auto;
    margin-right: 1%;
  }
  .row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 5px 2px 5px;
    justify-content: space-between;
    .text {
      font-size: 0.5em;
      margin: 0;
    }
    .icon {
      width: 10px;
      cursor: pointer;
    }
  }
  .center {
    background-color: white;
    text-align: left;
    margin: 0 5px 0 5px;
  }
}

.line {
  border-bottom: 2px solid rgb(195, 228, 9);
  color: rgb(195, 228, 9);
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hide {
  display: none;
}
