.box {
  max-width: 75%;
  width: 100%;
  background-color: bisque;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-bottom: 10px;
  &.self {
    margin-left: auto;
    margin-right: 1%;
  }
  .row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 5px 2px 5px;
    justify-content: space-between;
    .text {
      font-size: 0.5em;
      margin: 0;
    }
    .icon {
      width: 10px;
      cursor: pointer;
    }
  }
  .center {
    background-color: white;
    text-align: left;
    margin: 0 5px 0 5px;
  }
}
