@import url("vars.css");

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
:root { font-family: InterVariable, sans-serif; }
}

.heading-1-font {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}

.heading-2-font {
    font-size: 60px;
    font-weight: 600;
    line-height: 105%;
}

.heading-3-font {
    font-size: 24px;
    font-weight: 600;
    line-height: 105%;
}

.accent {
    font-style: italic;
}

.medium-font {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.caption-font {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

.lnk-btn-font {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.burger-font {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}